<body class="container-fluid">
    <div [ngStyle]='myStyles'>
        <h1>QUOTES KINGDOM</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-quote-form></app-quote-form>
        </div>
        <div class="col-md-6">
            <div>
                
            </div>
           <app-quotes-details></app-quotes-details> 
        </div>
    </div>
    <footer [ngStyle]='footer'>
        <p>Developer: Denis Mbugua.</p>
        <p>Location: Nairobi,Kenya.</p>
        <p>&copy; 2020.</p>
    </footer>
</body>
