<body class="container-fluid">
    <div [ngStyle]='myStyles'>
        <h1>QUOTES KINGDOM</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div>
        <div class="col-md-6">
            <div  *ngFor='let quote of quotes; let i = index'>
               {{i}} {{quote.quote}} {{quote.author}} 
            </div>
            <div>
                <button>QUOTE DETAILS!</button>
                <!-- <app-quote-details *ngIf='quotes.showDescription' [quote]='quotes'></app-quote-details> -->
            </div>
        </div>
    </div>
    <footer [ngStyle]='footer'>
        <p>Developer: Denis Mbugua.</p>
        <p>Location: Nairobi,Kenya.</p>
        <p>&copy; 2020.</p>
    </footer>
</body>
